.crud {
    background-color: rgba(19, 18, 18, 0.7);
    height: 300px;
    padding: 30px;
    width: 350px;
    color: black;
    font-family: arial;
  }
  
  .btn {
    background-color: rgb(46, 76, 249);
    width: 285px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    color: black;
    padding: 5px;
  }
  .btn :hover {
    cursor: pointer;
  }
  .sp {
    margin-left: 20px;
  }
  .container {
    width: 3000px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000px;
   
  }
  .input {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    color:white;
    border-radius: 5px;
    border: none;
  }
  .input[type="text"] {
    background-color:black;
    background-image: url(https://res.cloudinary.com/datxntjb1/image/upload/v1676827442/image_jbqxmv.jpg);
    background-repeat: no-repeat;
    background-position: 280px;
  }
  .input[type="password"] {
    background-color: black;
    background-image: url(https://res.cloudinary.com/datxntjb1/image/upload/v1676827428/image_epuc8y.png);
    background-repeat: no-repeat;
    background-position: 280px;
  }
  .back {
    background-image: url(https://res.cloudinary.com/dwhbsseft/image/upload/v1676872173/login-bg_sirxhf.jpg);
    background-size: cover;

  }
  img {
    margin-left:15%

  } 