<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class=" overflow overflow-hidden">
    <div class="back">
        <div class="container">
            <div class="crud">
                <div class="mb-2 tex-center ms-4">
                    <img src="assets/cozentus.jpg" width="220px" height="50px">
                </div>
                <form>
                    <dl>
                        <dt><input type="text" class="input" name="Username" required #box placeholder="Username"></dt>
                        <dt><input type="password" class="input" name="password" required placeholder="Password"></dt>
                        <dt><input type="checkbox" checked><span class="sp">Keep me signed in</span></dt>
                        <dt><div class="btn1">
                            <button class="btn mt-4" routerLink="/navbar">Login</button>
                        </div></dt>
                     </dl>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
